#mainLoginForm {
    background-color: #011C4A;
    border-radius: 8px;
    max-width: 500px;
    min-width: 300px;
    max-height: 700px;
    width: 30%;
    height: 60%;
    box-shadow: 0px 0px 25px rgba(0,0,0,.35);
}